/* popup */

#boxes .window {
	position:fixed;
	display:none;
	z-index:9999;
}

/* Z-index of #mask must lower than #boxes .window */
#mask {
	position:absolute; top:0px; left:0px;
	z-index:9000;
	background-color:#000;
	display:none;
}

/* common popup */
#common-popup {
	width:677px; height:522px; position:relative;
	background:transparent url('../images/common/popup.png') no-repeat;
	padding:20px;
}
#common-popup #content { width:607px; height:303px; position:absolute; top:71px; left: 35px; overflow-y: auto; }
#common-popup #lbl-dont-show-popup { position:absolute; top:402px; left:62px; display:block; width:71px; height:14px; text-indent:-9000px; }
#common-popup #chk-dont-show-popup { position:absolute; top:399px; left:39px; }
#common-popup a.close {
	position:absolute; top:398px; left:548px; text-indent:-9000px;
	display:block; width:85px; height:30px; background:transparent url("../images/common/popup-close.gif") no-repeat;
}
#common-popup a.close:hover { background-position:0px -30px; }

/* seat limit popup */
#seat-limit-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/bg-seat-limit.png') no-repeat;
}
#seat-limit-popup a.close {
	position:absolute; top:145px; left:179px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/register/button-ok.png") no-repeat 0px 0px; cursor:pointer;
}
#seat-limit-popup a.close:hover { background-position:0px -30px; }

/* seat no select popup */
#seat-no-select-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/bg-seat-no-select.png') no-repeat;
}
#seat-no-select-popup a {
	position:absolute; top:145px; left:119px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/popup/b_ok_cancel.png") no-repeat 0px 0px; cursor:pointer;
}
#seat-no-select-popup a.ok { background-position:0px 0px; }
#seat-no-select-popup a.ok:hover { background-position:0px -30px; }
#seat-no-select-popup a.close { background-position:-85px 0px; left:237px; }
#seat-no-select-popup a.close:hover { background-position:-85px -30px; }

/* zone blank seat popup */
#zone-blank-seat-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/bg-zone-blank-seat.png') no-repeat;
}
#zone-blank-seat-popup a.close {
	position:absolute; top:145px; left:179px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/register/button-ok.png") no-repeat 0px 0px; cursor:pointer;
}
#zone-blank-seat-popup a.close:hover { background-position:0px -30px; }

/* zone sold out popup */
#zone-soldout-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/zone-soldout.png') no-repeat;
}
#zone-soldout-popup a.close {
	position:absolute; top:145px; left:179px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/register/button-ok.png") no-repeat 0px 0px; cursor:pointer;
}
#zone-soldout-popup a.close:hover { background-position:0px -30px; }

/* zone confirm clear popup */
#zone-confirm-clear-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/zone-confirm-clear.png') no-repeat;
}
#zone-confirm-clear-popup a {
	position:absolute; top:145px; left:119px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/popup/b_ok_cancel.png") no-repeat 0px 0px; cursor:pointer;
}
#zone-confirm-clear-popup a.ok { background-position:0px 0px; }
#zone-confirm-clear-popup a.ok:hover { background-position:0px -30px; }
#zone-confirm-clear-popup a.close { background-position:-85px 0px; left:237px; }
#zone-confirm-clear-popup a.close:hover { background-position:-85px -30px; }

/* zone booked limit popup */
#zone-booked-limit-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/zone-booked-limit.png') no-repeat;
}
#zone-booked-limit-popup a.close {
	position:absolute; top:145px; left:179px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/register/button-ok.png") no-repeat 0px 0px; cursor:pointer;
}
#zone-booked-limit-popup a.close:hover { background-position:0px -30px; }

/* zone fanzone minimum popup */
#zone-fanzone-minimum-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/zone-fanzone-minimum.png') no-repeat;
}
#zone-fanzone-minimum-popup a.close {
	position:absolute; top:145px; left:179px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/register/button-ok.png") no-repeat 0px 0px; cursor:pointer;
}
#zone-fanzone-minimum-popup a.close:hover { background-position:0px -30px; }

/* zone early success popup */
#zone-early-success-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/zone-early-success.png') no-repeat;
}
#zone-early-success-popup a.close {
	position:absolute; top:145px; left:179px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/register/button-ok.png") no-repeat 0px 0px; cursor:pointer;
}
#zone-early-success-popup a.close:hover { background-position:0px -30px; }

/* contact us popup */
#contact-us-popup {
	width:893px; height:585px; position:relative;
	background:transparent url('../images/popup/contact-us.png') no-repeat;
	padding:0px 0px 0px 0px;
}
#contact-us-popup a.close {
	position:absolute; top:540px; left:404px; text-indent:-9000px;
	display:block; width:85px; height:30px; background:transparent url("../images/common/popup-close.gif") no-repeat;
}
#contact-us-popup a.close:hover { background-position:0px -30px; }

/* booking submit complete popup */
#booking-submit-complete-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/booking-submit-complete.png') no-repeat;
}
#booking-submit-complete-popup a.close {
	position:absolute; top:145px; left:179px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/register/button-ok.png") no-repeat 0px 0px; cursor:pointer;
}
#booking-submit-complete-popup a.close:hover { background-position:0px -30px; }

/* transfer-confirm popup */
#transfer-confirm-popup {
	width:639px; height:524px; position:relative;
	background:transparent url('../images/transfer/confirm_popup.png') no-repeat;
}
#transfer-confirm-popup span { color:black; position:absolute; left:305px; }
#transfer-confirm-popup a {
	position:absolute; top:389px; left:191px; width:112px; height:44px; text-indent:-2000px;
	background:transparent url("../images/transfer/confirm_buttons.gif") no-repeat 0px 0px; cursor:pointer;
}
#transfer-confirm-popup a.ok { background-position:0px 0px; }
#transfer-confirm-popup a.ok:hover { background-position:0px -44px; }
#transfer-confirm-popup a.close { background-position:-112px 0px; left:323px; }
#transfer-confirm-popup a.close:hover { background-position:-112px -44px; }

/* login fanzone only popup */
#login-fanzone-only-popup {
	width:439px; height:258px; position:relative;
	background:transparent url('../images/popup/login-fanzone-only-popup.png') no-repeat;
}
#login-fanzone-only-popup a.close {
	position:absolute; top:145px; left:179px; width:85px; height:30px; text-indent:-2000px;
	background:transparent url("../images/register/button-ok.png") no-repeat 0px 0px; cursor:pointer;
}
#login-fanzone-only-popup a.close:hover { background-position:0px -30px; }
